.item-added-notification {
  position: absolute;
  top: -60px;
  left: 50%;
  transform: translateX(-50%);
  background-color: var(--primary-color);
  border: 2px solid var(--text-color-1);
  border-radius: var(--border-radius-mini);
  z-index: 9999;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  animation: item-added-notif 1s;
}

@keyframes item-added-notif {
  0% {
    top: -60px;
    scale: 0.5;
  }

  50%,
  60%,
  70%,
  80% {
    top: 10px;
    scale: 1;
  }

  100% {
    top: -60px;
    scale: 0.5;
  }
}
